<div>
    <button style="float: right" ng-click="openNameDialogue()"> Not {{player.charactername}}? </button>
    <b> Logged in as </b>
    <h2> {{ player.charactername }} </h2>
</div>
<hr>

<div id="character-list" style="display: none" class="character-list">
    Please Log In:
    <div class='character-in-list' ng-repeat="player in players" ng-click='selectName(player)'>
        {{ player.charactername }}
    </div>
    <div style="position: absolute; width: 110; height: 30; top: 0; left: 0;" ng-click="selectName('SpaceMaster')"> </div>
</div>

