.description {
    background-color: #DDDDDD;
    border: 1px solid black;
}
.object-list {
    background-color: #DDDDDD;
}
.object-in-list {
    font-size: 20px;
    padding-left: 15px;
}
.character-list {
    background-color:#DD3333;
    width: 400px;
}
.character-in-list {
    font-size: 2em;
}
.character-in-list:hover {
    background-color: #33DDDD;
}
:link {
    color: #0000AA;
}
